@model WebApplication1.Models.FormulaInputModel

    <div class="jumbotron">
        <h1>Integral Calculator</h1>
        <br />
        <div class="form-horizontal">
            <a class="btn btn-primary" href="@Url.Action("CalculoIntegral", "Home")">Cálculo de Integral</a> 
            <br/>
            <br />
            <a class="btn btn-primary" href="@Url.Action("ZeroFuncao", "Home")">Zero de função</a> 
            <br />
            <br />
            <a class="btn btn-primary" href="@Url.Action("Interpolacao", "Home")">Interpolação</a>
            <br />

        </div>
    </div>

